.section  {
  display: flex;
  align-items:center;
  flex-direction:column;
  margin:auto;
  }
  
  .form {
    display: flex;
    gap:22px
  }
  .subtitle{
    width:150px;
    font-weight: 400;
  }
  .ul{
    list-style-type: none;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap:16px;
    padding:0
  }
  .li{
    border: 3px solid #0032FF;
    border-radius: 100%;
    width: 80px;
    
    
  }
  